@model MVCHome.Models.Articulo
@{
    ViewData["Title"] = "Crear Articulo";
    Layout = "_LayoutDashboard";
}

@*<h1><a></a>@ViewData["Title"]</h1>*@
<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white">
                    <strong>Nuevo articulo</strong>
                </h1>
            </div>
            <div class="card-body">
                <form asp-action="Crear" method="post">
                    <div class="form-group">
                        <label asp-for="Nombre">Nombre</label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del articulo" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion">Descripcion</label>
                        <input asp-for="Descripcion" class="form-control" placeholder="Ingrese la descripcion del articulo" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="UrlImg">Link de la magen</label>
                        <input asp-for="UrlImg" class="form-control" placeholder="Ingrese el link de la imagen del articulo" required />
                    </div>
                    <div class="container-fluid">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fa-solid fa-plus"></i> Guardar
                        </button>
                    </div>
                </form>
                <br />
                <a class="btn btn-outline-dark" asp-controller="Articulo" asp-action="Index">
                    <i class="fa-solid fa-arrow-rotate-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
</div>